/*reset block*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*user styles*/
body {
  font-family: Arimo, Arial sans-serif;
  font-size: 20px;
  background: url(http://subtlepatterns.com/patterns/white_brick_wall.png);
  margin: 20px 0;
}
/*header block*/
header {
  padding: 10px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 3px #11529b;
}
/*main block*/
main {
  margin-bottom: 20px;
}
.wrapper {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.25);
}
iframe {
  width: 100%;
  height: 100%;
}
.preview {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  color: white;
  background-color: #CC4331;
  border-radius: 4px;
  width: 124px;
  height: 37px;
  outline: none;
  position: relative;
  border: none;
  text-shadow: 0 -1px -1px #af3a2a;
  -moz-box-shadow: 0 4px 0 #af3a2a, 0 3px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #af3a2a, 0 3px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #af3a2a, 0 3px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.preview:hover {
  background-color: #d25544;
  text-shadow: 0 -1px -1px #c4402f;
  -moz-box-shadow: 0 4px 0 #c4402f, 0 3px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #c4402f, 0 3px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #c4402f, 0 3px 3px 1px rgba(0, 0, 0, 0.4);
}
.preview:active {
  padding-top: -1px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
#editor-wrap {
  font-size: 20px;
  height: 500px;
  margin-bottom: 20px;
}
/*footer block*/
footer {
  color: #fff;
  text-shadow: 2px 2px 3px #11529b;
  padding: 20px;
  border-top: 1px solid #DBDBDB;
  text-align: center;
}
